USE [master]
GO
/****** Object:  Database [Comment]    Script Date: 1/15/2020 10:48:44 PM ******/
CREATE DATABASE [Comment] ON  PRIMARY 
( NAME = N'Comment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Comment.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Comment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Comment_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Comment]
GO
/****** Object:  Table [dbo].[Com]    Script Date: 1/15/2020 10:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Com](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[comt] [nvarchar](50) NULL,
	[date] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Com] ON 

INSERT [dbo].[Com] ([id], [Name], [comt], [date]) VALUES (1, N'Ali', N'My name is Ali', N'1/15/2020 7:17:53 PM')
INSERT [dbo].[Com] ([id], [Name], [comt], [date]) VALUES (2, N'Maaz ', N'My name is Maaz', N'1/15/2020 7:18:19 PM')
SET IDENTITY_INSERT [dbo].[Com] OFF
USE [master]
GO
